@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img,input{ margin:0; padding:0; }
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }   /*去掉input等聚焦时的蓝色边框*/
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle;}
/*select, input, textarea { font-size:12px; margin:0; }*/
textarea { resize:none; } /*防止拖动*/
img {border:0; vertical-align:middle; }  
/*  去掉图片低测默认的3像素空白缝隙，或者用display：block也可以*/
table { border-collapse:collapse; }


/*添加公共样式*/
/*body {
    font:12px/150% Arial,Verdana,"\5b8b\4f53";
    color:#666;
    background:#fff
}*/
.clearfix:after{
    content:"";
    display:block;
    height: 0;
    clear:both;
    overflow:hidden;
    visibility:hidden;
    zoom:1;
}
a {color:#666; text-decoration:none; }
a:hover{color:#C81623;}
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:1em;}  /*设置h标签的大小，设置跟父亲一样大的字体font-size:100%;*/
s,i,em{font-style:normal;text-decoration:none;}


/*公共类*/
.container {  /*版心 提取 */
    width:980px;
    margin:0 auto;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
.al {
    text-align:left;
}
.ac {
    text-align:center;
}
.ar {
    text-align:right;
}
.hide {
    display:none;
}
.font12{ font-size: 12px;}
.font14{ font-size: 14px;}
.font16{ font-size: 16px;}
*{box-sizing:border-box;}
/*公共部分*/
.juanpi{   
    height:4000px;
    width:100%;
    background-color:#F6F6F6;
    min-width:980px;_width:expression(document.body.clientWidth < 980 ? "980px" : "auto");
    /* (这是最小宽度）*/ 
}       
/*---------------字体-----------------*/
  @font-face {font-family: "iconfont";
          src: url('../font/iconfont.eot'); /* IE9*/
          src: url('../font/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../font/iconfont.woff') format('woff'), /* chrome, firefox */
          url('../font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
          url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
        }

 .iconfont {
          font-family:"iconfont" !important;
          font-size:12px;
          font-style:normal;
          -webkit-font-smoothing: antialiased;
          -webkit-text-stroke-width: 0.2px;
          -moz-osx-font-smoothing: grayscale;
        }
.icon-gouwuche:before { content: "\f0148"; }

.icon-dianhua:before { content: "\e640"; }

.icon-caidan:before { content: "\e627"; }

.icon-jiantou-copy:before { content: "\e62b"; }

.icon-wenhao5:before { content: "\e63a"; }

.icon-jiantou-copy1:before { content: "\e690"; }

.icon-twitter:before { content: "\e673"; }

.icon-caidan1:before { content: "\e62a"; }

.icon-facebook:before { content: "\e65c"; }

.icon-xinfeng:before { content: "\e734"; }

.icon-blog:before { content: "\e633"; }

.icon-jiangjia:before { content: "\e6ce"; }
@font-face {font-family: "lemon";
          src: url('../font01/iconfont.eot'); /* IE9*/
          src: url('../font01/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../font01/iconfont.woff') format('woff'), /* chrome, firefox */
          url('../font01/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
          url('../font01/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
        }


    .lemon {
  font-family:"lemon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-message:before { content: "\e6c7"; }

.icon-faxian:before { content: "\e605"; }

.icon-orderstatus4:before { content: "\e61d"; }

.icon-search1:before { content: "\e728"; }

.icon-lianggeren:before { content: "\e62f"; }

.icon-wallet:before { content: "\e611"; }

.icon-pengyou:before { content: "\e660"; }

.icon-wode:before { content: "\e501"; }

.icon-xin-copy:before { content: "\e507"; }

.icon-ico_coupons:before { content: "\e66b"; }

.icon-zhuanzhang:before { content: "\e627"; }

.icon-xiaochengxuicon-:before { content: "\e622"; }

.icon-shouye:before { content: "\e609"; }

.icon-add:before { content: "\e502"; }




/*----------------header头部------------------------*/
#header{width: 100%;height: 80px;border-bottom:2px solid #FF464E;background-color:#F6F6F6;}
#header h1{float:left;width: 207px;height: 80px;text-indent:-1000px;background:url(../img/all.fw.png) 0 -276px;}
#header .header_r{float:right;}
#header .header_r li{float:left;width: 154px;height: 80px;}
#header .header_r li a{display:block;width: 154px;height: 31px;margin-top: 25px;}
#header .header_r li:nth-child(1) a{background:url(../img/all.fw.png) -216px 0;}
#header .header_r li:nth-child(2) a{background:url(../img/all.fw.png) -216px -31px;}
#header .header_r li:nth-child(3) a{background:url(../img/all.fw.png) -216px -62px;}




/*----------------------footer部分--------------------*/
#footer{width: 100%;height: 166px;background-color:#F6F6F6;}
#footer ul{height:75px;width: 920px;margin:0 auto;}
#footer ul li{float:left;height:97px;line-height: 97px;}
#footer span{padding-right:4px;padding-left: 3px;color:#666666;font-size:13px;border-right:1px solid #C99366;}
#footer li:last-child span{border-right:none;}
#footer p{font-size:12px;color:#999999;width: 400px;margin:0 auto;}