#nav .nav_b li:first-child a { background-color: white; }

#main .main_t h3 { height: 60px; font-size: 12px; color: #333333; line-height: 60px; padding-left: 5px; }

#main .main_c { width: 100%; height: 540px; }

#main .main_c .main_l { width: 479px; }

#main .main_c .main_l > ul { width: 60px; float: left; margin-right: 19px; }

#main .main_c .main_l > ul li { height: 60px; border: 1px solid #ccc; margin-bottom: 9px; }

#main .main_c .main_l > ul li:hover { border: 1px solid black; }

#main .main_c .main_l .pic img { display: block; width: 400px; height: 400px; }

#main .main_c .main_l .pic p:first-of-type { height: 60px; line-height: 60px; }

#main .main_c .main_l .pic p:first-of-type span { font-size: 12px; color: #95667D; padding-right: 29px; }

#main .main_c .main_l .pic p:last-of-type { font-size: 12px; color: #95667D; margin-bottom: 60px; }

#main .main_c .main_l .pic p:last-of-type span { padding-right: 60px; position: relative; }

#main .main_c .main_l .pic p:last-of-type span:nth-child(1) { padding-left: 20px; }

#main .main_c .main_l .pic p:last-of-type .shoucang { display: block; width: 15px; height: 14px; position: absolute; left: 2px; top: 2px; background: url(../img/all.fw.png) -259px -97px; }

#main .main_c .main_l .pic p:last-of-type .fenxiang { display: block; width: 12px; height: 12px; position: absolute; left: -15px; top: 2px; background: url(../img/all.fw.png) -283px -97px; }

#main .main_c .main_m { width: 500px; padding-left: 40px; }

#main .main_c .main_m h1 { color: #333333; font-size: 16px; font-weight: bold; height: 38px; }

#main .main_c .main_m > p { color: #FF464E; padding-left: 13px; height: 50px; background-color: #FFF0F0; }

#main .main_c .main_m > p .saleprice { font-size: 22px; color: #FF464E; }

#main .main_c .main_m > p .price { padding-left: 6px; font-size: 14px; color: #999999; }

#main .main_c .main_m .peisong { height: 45px; line-height: 45px; padding-left: 4px; border-bottom: 1px dotted #E2E2E2; }

#main .main_c .main_m .peisong span:nth-child(1) { color: #C2A5B2; font-size: 12px; margin-right: 10px; }

#main .main_c .main_m .peisong span:nth-child(2) { color: black; font-size: 14px; margin-right: 10px; }

#main .main_c .main_m .peisong span:nth-child(2) select { margin-left: 4px; margin-right: 8px; }

#main .main_c .main_m .color { padding-top: 23px; }

#main .main_c .main_m .color p { float: left; color: #999999; font-size: 12px; width: 50px; padding-top: 13px; }

#main .main_c .main_m .color .choice { padding-left: 50px; }

#main .main_c .main_m .color .choice span { display: block; float: left; padding: 10px 6px 10px 35px; margin-right: 13px; border: 1px solid #CCCCCC; font-size: 14px; margin-bottom: 13px; }

#main .main_c .main_m .size p { float: left; color: #999999; font-size: 12px; width: 50px; padding-top: 7px; }

#main .main_c .main_m .size span { display: block; float: left; width: 46px; height: 25px; margin-right: 13px; border: 1px solid #CCCCCC; font-size: 14px; margin-bottom: 21px; }

#main .main_c .main_m .qty { margin-bottom: 20px; }

#main .main_c .main_m .qty p { float: left; color: #999999; font-size: 12px; width: 50px; padding-top: 30px; padding-top: 8px; }

#main .main_c .main_m .qty div { float: left; }

#main .main_c .main_m .qty div .dc { float: left; display: inline-block; width: 20px; height: 30px; line-height: 30px; margin-right: 0; border: 1px solid #E2E2E2; text-align: center; }

#main .main_c .main_m .qty div input { float: left; width: 48px; height: 30px; background-color: #F6F6F6; border: 1px solid #E2E2E2; }

#main .main_c .main_m .qty div .ic { float: left; display: block; width: 20px; height: 30px; line-height: 30px; margin-left: 0; border: 1px solid #E2E2E2; text-align: center; }

#main .main_c .main_m > div:last-child { padding-left: 64px; }

#main .main_c .main_m > div:last-child .buy { width: 156px; height: 40px; background-color: #FFF0F0; color: #FF464E; border: 1px solid #FF464E; margin-right: 40px; text-align: center; font-size: 18px; }

#main .main_c .main_m > div:last-child .addCar { display: inline-block; width: 156px; height: 40px; background-color: #FF464E; color: white; text-align: center; font-size: 18px; }

#main .main_c .main_r { width: 193px; height: 380px; padding-left: 21px; padding-right: 20px; border: 1px solid #EBEBEB; }

#main .main_c .main_r .main1 { width: 152px; height: 154px; border-bottom: 1px dotted #EBEBEB; }

#main .main_c .main_r .main1 h3 { width: 50px; height: 50px; margin: 21px auto; background: url(../img/all.fw.png) -290px -301px; }

#main .main_c .main_r .main1 p { color: #5E5E5E; font-size: 12px; text-align: center; padding-top: 18px; padding-bottom: 8px; }

#main .main_c .main_r .main1 p:last-child { color: #B2B2B2; font-size: 11px; text-align: center; padding-top: 0px; }

#main .main_c .main_r .main2 { width: 152px; height: 136px; border-bottom: 1px dotted #EBEBEB; padding-top: 12px; }

#main .main_c .main_r .main2 ul li { padding-left: 22px; color: #666666; font-size: 12px; height: 38px; position: relative; }

#main .main_c .main_r .main2 ul i { display: block; position: absolute; }

#main .main_c .main_r .main2 ul li:nth-child(1) i { width: 13px; height: 15px; left: 0; top: 2px; background: url(../img/all.fw.png) -302px -96px; }

#main .main_c .main_r .main2 ul li:nth-child(2) i { width: 13px; height: 11px; left: 0; top: 2px; background: url(../img/all.fw.png) -323px -99px; }

#main .main_c .main_r .main2 ul li:nth-child(3) i { width: 13px; height: 13px; left: 0; top: 2px; background: url(../img/all.fw.png) -345px -96px; }

#main .main_c .main_r .main3 { width: 152px; padding-left: 22px; color: #666666; font-size: 12px; height: 38px; position: relative; padding-top: 20px; }

#main .main_c .main_r .main3 i { display: block; position: absolute; width: 13px; height: 13px; left: 2px; top: 22px; background: url(../img/all.fw.png) -363px -97px; }

#main .main_b .main_l { width: 982px; }

#main .main_b .main_l .nav { margin-top: 26px; }

#main .main_b .main_l .nav ul li { float: left; padding-left: 43px; padding-right: 43px; height: 50px; line-height: 50px; background-color: #FAFAFA; color: #7D6666; font-size: 16px; text-align: center; border: 1px solid #EBEBEB; border-bottom: none; }

#main .main_b .main_l .pic { padding-left: 89px; padding-top: 15px; }

#main .main_b .main_r { width: 192px; margin-top: 26px; }

#main .main_b .main_r .main_rb, #main .main_b .main_r .main_rt { border: 1px solid #EBEBEB; margin-bottom: 20px; }

#main .main_b .main_r .main_rb > p, #main .main_b .main_r .main_rt > p { padding-left: 40px; padding-right: 40px; height: 50px; line-height: 50px; background-color: #FAFAFA; color: #7D6666; font-size: 16px; text-align: center; border: 1px solid #EBEBEB; }

#main .main_b .main_r .main_rb ul, #main .main_b .main_r .main_rt ul { padding-top: 18px; }

#main .main_b .main_r .main_rb ul li, #main .main_b .main_r .main_rt ul li { height: 50px; padding-left: 15px; margin-bottom: 18px; }

#main .main_b .main_r .main_rb ul li img, #main .main_b .main_r .main_rt ul li img { display: block; float: left; width: 50px; height: 50px; }

#main .main_b .main_r .main_rb ul li .fl, #main .main_b .main_r .main_rt ul li .fl { padding-left: 13px; width: 83px; padding-top: 3px; }

#main .main_b .main_r .main_rb ul li .fl p:first-child, #main .main_b .main_r .main_rt ul li .fl p:first-child { font-size: 11px; color: #333333; }

#main .main_b .main_r .main_rb ul li .fl p:last-child span:first-child, #main .main_b .main_r .main_rt ul li .fl p:last-child span:first-child { font-size: 11px; color: #FF464E; }

#main .main_b .main_r .main_rb ul li .fl p:last-child span:last-child, #main .main_b .main_r .main_rt ul li .fl p:last-child span:last-child { font-size: 10px; color: #C9BBC1; }
